@CHARSET "UTF-8";


table, th, td {
    border:none;
    width:auto;
	padding:10px;

}

td{
	text-align: baseline;

}

th, td {
    border-bottom:solid 1px silver;
}

th:first-child {
    border-right:solid 1px silver;
}


table.riigai{
	width:850px;
}
table.allTiketto{
	width:850px;
}
table.gennka{
	width:850px;
}

th,allTiketto{
	width:80px;
}

.title {
	font-size: 40px;
}
table.allAll {
	text-align: right;
	font-size: 20px;
	width:850px;
}






