@CHARSET "UTF-8";
#site-box {    }


#a-box {  float: left;}

#b-box {
  float: right;
  margin-bottom: 100px;
}

#c-box {
  clear:both;
  }

table {
	border-collapse: collapse;
  margin-top: 70px;
  width: 100%;
}
td,th {
  white-space: nowrap;
	border: solid 1px;
	padding: 0.5em;
}

td{
  text-align: right;
}

th{
  text-align: center;
}
